<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="calcService"
		class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
		<property name="serviceInterface" value="aniket.demo.Calc" />
		<property name="wsdlDocumentUrl" value="http://localhost:8085/calc/?wsdl" />
		<property name="namespaceUri" value="http://demo.aniket/" />
		<property name="serviceName" value="CalcService" />
		<property name="portName" value="CalcPort" />
	</bean>

</beans>